.benefits {
  padding: 100px 0;
  background-color: #F9F9F9;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  &__item {
    grid-column: 4 span;

    &-title {
      margin-bottom: 20px;
      display: inline-flex;
      font-weight: 600;
      font-size: 24px;
      line-height: 160%;
      color: var(--dark-color);
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: var(--dark-transparent-color);
    }
  }
}
