.btn {
  padding: 25px 54px;
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  color: var(--light-color);
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color: #D52027, $amount: 10);
  }

  &--dark {
    background-color: var(--dark-color);

    &:hover {
      background-color: lighten($color: #141024, $amount: 5);
    }
  }


}
