.footer {
  padding: 40px 0;
  background-color: var(--dark-color);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.7);
  }
}
