.popup {

  &__top {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  &__img {
    margin-right: 40px;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
    margin-bottom: 10px;
  }

  &__prof {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--dark-transparent-color);
    margin-bottom: 10px;
  }

  &__descr {
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--dark-color);
    }
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
  }
}

.graph-modal {
  &__container {
    padding: 40px;
    width: 100%;
    max-width: 940px;

  }

  &__close {
    top: 40px;
    right: 40px;
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--dark-transparent-color);
    background-image: none;

    @include mobile {
      top: 10px;
      right: 10px;
    }
  }

}

.tabs {
  &__nav {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    @include mobile {
      flex-direction: column;
      margin: 0 auto;
    }

    &-item {
      @include mobile {
        margin-bottom: 10px;
      }
    }

    &-btn--active {
      color: var(--accent-color);


      &:focus {
        background-color: transparent;
        outline: transparent;
        color: var(--accent-color);
      }

      &:active {
        background-color: transparent;
        outline: transparent;
        color: var(--accent-color);
      }
    }

    &__panel {
      padding-right: 20px;
    }

    &-wrapper {
      border-bottom: 1px solid rgba(20, 16, 36, 0.11);
      margin-bottom: 20px;


    }
  }

  &__bottom {
    max-height: 375px;
  }
}

.simplebar-track.simplebar-vertical {
  width: 5px;
  background: rgba(20, 16, 36, 0.08);
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.simplebar-scrollbar::before{
  left: 0;
  right: 0;
  opacity: 1;
  width: 5px;
  background-color: var(--dark-color);
}
