.trainers {
  padding: 80px 0;

  &__title {
    margin-bottom: 60px;
  }

  &__wrapper {
    padding-left: max(15px, calc(100% - var(--content-width)) / 2);
  }

  &__content {
    margin-bottom: 75px;
  }

  &__item {
    @include small-tablet {

      max-width: 220px;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
    @include large-desktop {
      font-size: 18px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
    margin-bottom: 20px;
    @include large-desktop {
      font-size: 14px;
    }
  }

  &__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--accent-color);
  }

  &__image {
    margin-bottom: 20px;
    height: 500px;
    @include small-tablet {
      height: 306px;
    }
  }

  &__scroll{
    border-radius: 40px;
    width: 360px;
    height: 5px;
    background: rgba(20, 16, 36, 0.08);
  }

  &__nav {
    @include flex-all-sb;
  }

  &__btns{
    @include small-tablet {
      display: none;
    }
  }


  @include small-tablet {
    padding: 40px 0;
  }


}

.swiper-scrollbar-drag {
  background-color: var(--dark-color);
}
