<section class="about" id="about">
  <div class="container about__container">
    <h2 class="visually-hidden">Секция с описанием</h2>
    <p class="about__description">
      <span class="about__description--text">
        Robo School
      </span>
       – учреждение для формирования кадрового педагогического резерва в сфере робототехники и программирования
    </p>
    <ul class="about__list list-reset">
      <li class="about__item">
        <h3 class="about__item-title">10</h3>
        <p class="about__item-text">УМК по различным направлениям по робототехнике</p>
      </li>
      <li class="about__item">
        <h3 class="about__item-title">20</h3>
        <p class="about__item-text">Школ, в которых запущена робототехника</p>
      </li>
      <li class="about__item">
        <h3 class="about__item-title">100</h3>
        <p class="about__item-text">Педагогов прошедших курсы повышения квалификации</p>
      </li>
      <li class="about__item">
        <h3 class="about__item-title">10 000</h3>
        <p class="about__item-text">Обученных детей на базе собственных центров</p>
      </li>

    </ul>
  </div>
</section>
