<section class="benefits">
  <div class="container benefits__container">
    <h2 class="section__title benefits__title">
      Что вы получите после курса
    </h2>

    <ul class="benefits__list list-reset">
      <li class="benefits__item">

        <h3 class="benefits__item-title">
          Удостоверение
        </h3>

        <p class="benefits__item-text">
          Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях
        </p>
      </li>


      <li class="benefits__item">

        <h3 class="benefits__item-title">
          Знания
        </h3>

        <p class="benefits__item-text">
          По основам разработки учебно-методических комплексов
          по робототехнике и программированию
        </p>
      </li>


      <li class="benefits__item">

        <h3 class="benefits__item-title">
          Практику
          <span class="tooltip">
            <button class="tooltip__btn btn-reset" aria-describedby="benefits">
              <svg class="">
                <use xlink:href="img/sprite.svg#tooltip"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="benefits">
              <span class="visually-hidden">Тултип: </span>
              При наличии свободных мест
            </span>
          </span>
        </h3>

        <p class="benefits__item-text">
          Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)
        </p>
      </li>
    </ul>
  </div>
</section>
