<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo header__logo">
      <img loading="lazy" src="../img/logo.svg" class="image" width="228" height="48" alt="Логотип компании">
    </a>
    <nav class="nav" title="main menu" data-menu>
      <ul class="nav__list list-reset header__list">
        <li class="nav__item header__item"><a href="#about" class="nav__link header__link" data-scroll data-menu-item>О школе</a></li>
        <li class="nav__item header__item"><a href="#trainers" class="nav__link header__link" data-scroll data-menu-item>Тренеры</a></li>
        <li class="nav__item header__item"><a href="#order" class="nav__link header__link" data-scroll data-menu-item>Стоимость</a></li>
      </ul>

      <button class="btn-reset burger__close" data-menu-close aria-label="Закрыть меню"></button>
    </nav>
    <a href="tel:+78000001122" type="tel" class="phone header__phone">+7 800 000 11 22</a>

    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
