<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="../img/logo.svg" class="image" width="228" height="48" alt="Логотип компании">
    </a>
    <nav class="nav" title="main menu">
      <ul class="nav__list list-reset header__list">
        <li class="nav__item header__item"><a href="#about" class="nav__link header__link" data-scroll>О школе</a></li>
        <li class="nav__item header__item"><a href="#trainers" class="nav__link header__link" data-scroll>Тренеры</a></li>
        <li class="nav__item header__item"><a href="#order" class="nav__link header__link" data-scroll>Стоимость</a></li>
      </ul>
    </nav>
    <a href="tel:+78000001122" type="tel" class="phone">+7 800 000 11 22</a>
  </div>
</header>
