<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        ROBO SCHOOL
        <span class="hero__title-text">
          Курсы повышения квалификации по робототехнике для педагогов начальной школы
        </span>
      </h1>
      <a href="#form" class="hero__btn btn" data-scroll>Записаться на курс</a>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="../img/hero-img.webp" type="image/webp">
        <img loading="lazy" src="../img/hero-img.png" class="image" width="783" height="918" alt="">
      </picture>
    </div>
  </div>
</section>
