<section class="order">
  <div class="container">
    <h2 class="section__title order__title">
      Выберите нужный пакет
    </h2>

    <ul class="list-reset order__list order-list">
      <li class="order__item order-list__item order-list__item--main">
        <h3 class="order-list__title">pro</h3>
        <p class="order-list__price">20.000 ₽</p>
        <p class="order-list__descr">УМК по робототетхнике и программированию</p>
        <button class="btn btn-reset order-list__btn" >Оставить заявку</button>
      </li>
      <li class="order__item order-list__item">
        <h3 class="order-list__title">robo</h3>
        <p class="order-list__price">15.000 ₽</p>
        <p class="order-list__descr">УМК по робототетхнике </p>
        <button  class="btn btn-reset order-list__btn" >Оставить заявку</button>
      </li>
      <li class="order__item order-list__item">
        <h3 class="order-list__title">prog</h3>
        <p class="order-list__price">10.000 ₽</p>
        <p class="order-list__descr">УМК по программированию</p>
        <button  class="btn btn-reset order-list__btn" >Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
