<section class="trainers" id="trainers">
  <div class="container">
    <h2 class="section__title trainers__title">Профессиональные тренеры</h2>
  </div>

    <div class="trainers__wrapper">
      <div class="swiper trainers__content ">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source srcset="../img/trainers-1.webp" type="image/webp">
                <img loading="lazy" src="trainers-1.jpg" class="trainers__image image" width="360" height="500" alt="Ирина Лайм">
              </picture>
              <div class="trainers__name">Ирина Лайм</div>
              <div class="trainers__text">преподаватель по робототехнике</div>

              <button class="btn-reset trainers__btn" data-graph-path="trainers-1">Подробнее</button>
            </div>
           </div>

           <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source srcset="../img/trainers-2.webp" type="image/webp">
                <img loading="lazy" src="trainers-2.jpg" class="trainers__image image" width="360" height="500" alt="Марина Орлова">
              </picture>
              <div class="trainers__name">Марина Орлова</div>
              <div class="trainers__text">преподаватель по робототехнике</div>

              <button class="btn-reset trainers__btn" data-graph-path="trainers-1">Подробнее</button>
            </div>
           </div>

           <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source srcset="../img/trainers-3.webp" type="image/webp">
                <img loading="lazy" src="trainers-3.jpg" class="trainers__image image" width="360" height="500" alt="Максим Петров">
              </picture>
              <div class="trainers__name">Максим Петров</div>
              <div class="trainers__text">преподаватель по программированию</div>

              <button class="btn-reset trainers__btn" data-graph-path="trainers-1">Подробнее</button>
            </div>
           </div>

           <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source srcset="../img/trainers-4.webp" type="image/webp">
                <img loading="lazy" src="trainers-4.jpg" class="trainers__image image" width="360" height="500" alt="Константин Назаров">
              </picture>
              <div class="trainers__name">Константин Назаров</div>
              <div class="trainers__text">преподаватель по робототехнике</div>

              <button class="btn-reset trainers__btn" data-graph-path="trainers-1">Подробнее</button>
            </div>
           </div>

           <div class="swiper-slide">
            <div class="trainers__item">
              <picture>
                <source srcset="../img/trainers-5.webp" type="image/webp">
                <img loading="lazy" src="trainers-5.jpg" class="trainers__image image" width="360" height="500" alt="Лиза Весенняя">
              </picture>
              <div class="trainers__name">Лиза Весенняя</div>
              <div class="trainers__text">преподаватель по программированию</div>

              <button class="btn-reset trainers__btn" data-graph-path="trainers-1">Подробнее</button>
            </div>
           </div>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="trainers__nav">
        <div class="trainers__scroll"></div>
        <div class="trainers__btns">
          <button class="btn-reset trainers__button trainers__button--prev">
            <img loading="lazy" src="../img/prev.svg" class="image" width="40" height="40" alt="к передыдущему слайду">
          </button>
          <button class="btn-reset trainers__button trainers__button--next">
            <img loading="lazy" src="../img/next.svg" class="image" width="40" height="40" alt="к следующему слайду">
          </button>
        </div>
      </div>
    </div>

</section>
